<h1>Edit Topic</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for Topics:</p>
    <ul>
      <li>Name must be at least 5 characters</li>
      <li>Description must be at least 15 characters</li>
      <li>Keep it appropriate</li>
      <li>Do not use too many #hashtags as this will result in a ban</li>
    </ul>
  </div>
  <div class="col-md-8">
     <%= render partial: 'form', locals: { topic: @topic } %>
   </div>
</div>
