<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<!-- <%= params # prints the params to the page%>  -->
<h1><%= @post.title %></h1> <!-- this line is kicking out a ruby error when you visit it.. -->
<p><%= @post.body %></p>
